page-products-by-category {

    .icon-span{
        margin-top: 12px;
        display: inline-block;
        font-size: 18px;
        color: #000; 
        margin-left: 3px;
    }

    .icon-span-one{
        margin-right: 5px;
    }

    .grid{
        padding: 0; 
    }

    .productsbycatt-price{
        font-weight: bold; 
        padding-bottom: 8px; 
        display: block; 
        font-size: 14px;
        color: #f28500
    }

    .productsbycatt-price del{
        color: #000;
    }

    .productsbycatt-price ins{
        color: #f28500;
    }

    .span-outofstock{
        text-align: center;
        border: 1px solid #f28500;
        line-height: 1;
        padding: 4px;
    }
    
    .padding-outofstock{
        padding: 9px; 
    }
    
    .productsbycatt-price ins{
        color: #f28500;
    }

    .item-md ion-thumbnail ion-img, 
    .item-md ion-thumbnail img{
        width: 100px;
        height: 100px; 
    }

    .select-btn{
        background-color: #f28500;
        border-color: #f28500;
        color: #fff;
    }

    .card-md{
        margin: 8px; 
    }

    .icon-active{
        color: #f28500; 
    }

    h2,.item-md h2 {
      font-size: 1.8rem;
    }

    .Options-font{
        font-size: 12px; 
    }

    .col-head{
        padding: 0; 
    }

    .select-icon{
        right: 50%;
    }

    .col-head{
        padding: 0 !important; 
    }

    .span-sale{
        position: absolute; 
        top: 8px; 
        right: 16px;
        padding: 6px;
        border: 1px solid #f28500; 
        display: block; 
        background-color: #f28500; 
        color: #fff; 
        font-weight: bold;
        font-size: 10px;
      }

      .span-sale-two{
        position: absolute; 
        top: 5px; 
        right: 5px;
        padding: 6px;
        border: 1px solid #f28500; 
        display: block; 
        background-color: #f28500; 
        color: #fff; 
        font-weight: bold;
        font-size: 10px;
      }

      .productsNotfound-p{
        font-size: 17px;
        position: absolute;
        top: 40%;
        left: 40%;
      }

      .heart{
        position: absolute;
        top: 0;
        left: 10px;
        padding: 4px;
        display: block;
        color: #000;
        font-size: 17px;
     }


    .badge-md-dark {
        position: relative;
        z-index: 9999;
        right:  30px; 
        bottom: 35px;
        background-color: #f28500; 
    }

    .button-outline-md-danger,
    .button-outline-md-danger:hover:not(.disable-hover){
        background-color: #f28500 !important; 
        color: #fff; 
        border-color: #f28500; 
    }

    ion-fab[top] {
        top: 6px;
        left: -5px;
    }

    .cart .button-md-danger, 
    .button-md-danger:hover:not(.disable-hover), 
    .fab-md-danger.activated, .fab-md-danger{
       background-color: #000; 
    }

}

