<ion-header>
    <ion-navbar hideBackButton="true">
      <button color="danger" ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
  
      <ion-title>{{ catName }}</ion-title>
      
      <ion-fab left top (click)="openCart()">
          <ion-badge color="dark">{{ nbstatic }}</ion-badge>
          <button ion-fab color="danger"><ion-icon class="cart" name="cart"></ion-icon></button>
      </ion-fab>

    </ion-navbar>
  </ion-header>


<ion-content (ionScroll)="scrollFunction($event)">

    <ion-fab right bottom *ngIf="isShown">
        <button ion-fab color="darkroyal" (click)="pageScroller()">
        <ion-icon name="ios-arrow-up"></ion-icon></button>
    </ion-fab>

    <ion-fab left bottom (click)="openHomePage()">
        <button ion-fab color="danger"><ion-icon name="home"></ion-icon></button>
    </ion-fab>
   
  <ion-card>
    <ion-grid>
        <ion-row>        
          <ion-col col-9 class="col-head">
              
                <ion-select cancelText="الغاء" [(ngModel)]="sort" interface="action-sheet" (ionChange)="changeSort()">
                      <ion-option value="0">الأحدث</ion-option>
                      <ion-option value="1">أ - ى</ion-option>
                      <ion-option value="2">ى - أ</ion-option>
                </ion-select>
          
          </ion-col>
          
          <ion-col col-3 class="col-head" *ngIf="!isToggled">
              <a class="icon-span" (click)="show = !show"><ion-icon name="funnel"></ion-icon></a>
              <a class="icon-span icon-span-one icon-active" (click)="notifyList()"><i class="fas fa-align-justify"></i></a>
              <a class="icon-span" (click)="notifyGrid()"><i class="fas fa-th-large"></i></a>
          </ion-col>

          <ion-col col-3 class="col-head" *ngIf="isToggled">
              <a class="icon-span" (click)="show = !show"><ion-icon name="funnel"></ion-icon></a>
              <a class="icon-span icon-span-one" (click)="notifyList()"><i class="fas fa-align-justify"></i></a>
              <a class="icon-span icon-active" (click)="notifyGrid()"><i class="fas fa-th-large"></i></a>
          </ion-col>

        </ion-row>
    </ion-grid>
  </ion-card>

  <div *ngIf="show" [@enterAnimation]>
      <ion-item *ngIf="showRange">
        <ion-range dualKnobs="true"  min={{min}} max={{max}} [(ngModel)]="distance" pin="true" color="dark"  (ionBlur)="changeDistance($event)">
          <ion-label range-right>{{min}}</ion-label>
          <ion-label range-left>{{max}}</ion-label>
        </ion-range> 
      </ion-item>
  </div>

  <div *ngIf="!showProductNotfound">

  <ion-list *ngIf="!isToggled">
        <ion-item *ngFor="let product of products; let i = index" text-wrap>

            <ion-thumbnail item-left (click)="openProductPage(product)">
               <img [src]="product.images[0].src" />
            </ion-thumbnail>
            <h2>{{product.name}}</h2>
            <p>
            <span [innerHTML]="product.short_description"></span>
            <span class="productsbycatt-price" [innerHTML]="product.price_html"></span>
            <span class="span-sale" *ngIf="product.on_sale"> تخفضيات </span>
            </p>

              <span *ngIf="product.in_stock">
              <button *ngIf="product.variations.length == 0" ion-button icon-left block outline color="danger" (click)="addToCartTwo(product, qty)">
                   <span> أضف الى العربة </span>
              </button>
              </span>

              <span *ngIf="product.in_stock">
                  <button *ngIf="product.variations.length > 0"  ion-button icon-left block outline color="danger" (click)="openProductPage(product)">
                       <span> التفاصيل </span>
                  </button>
              </span>


              <p class="select-btn span-outofstock" *ngIf="!product.in_stock">
                <span> المنتج غير متوفر </span>
              </p>

              <span class="heart" *ngIf="product.is_favorite" (click)="removeFav(product,i)"><ion-icon name="heart"></ion-icon> </span>
              <span class="heart" *ngIf="!product.is_favorite" (click)="addFav(product)"><ion-icon name="heart-outline"></ion-icon> </span>

        </ion-item>
      </ion-list>

    

    <ion-grid *ngIf="isToggled">
        <ion-row>        
          <ion-col col-6 *ngFor="let product of products; let i = index" text-wrap>
                <ion-thumbnail item-left (click)="openProductPage(product)">
                      <img [src]="product.images[0].src" />
                </ion-thumbnail>
                <h2>{{product.name}}</h2>
                <p>
                  <span [innerHTML]="product.short_description"></span>
                  <span class="productsbycatt-price" [innerHTML]="product.price_html"></span>
                  <span class="span-sale-two" *ngIf="product.on_sale"> تخفضيات </span>
                </p>
                  
                  <span *ngIf="product.in_stock">
                    <button *ngIf="product.variations.length == 0" ion-button icon-left block outline color="danger" (click)="addToCartTwo(product, qty)">
                      <span> أضف الى العربة </span>
                    </button>
                  </span>

                  <span *ngIf="product.in_stock">
                      <button *ngIf="product.variations.length > 0"  ion-button icon-left block outline color="danger" (click)="openProductPage(product)">
                           <span> التفاصيل </span>
                      </button>
                  </span>

                  <p class="select-btn span-outofstock padding-outofstock" *ngIf="!product.in_stock">
                    <span> المنتج غير متوفر </span>
                  </p>

                  <span class="heart" *ngIf="product.is_favorite" (click)="removeFav(product,i)"><ion-icon name="heart"></ion-icon> </span>
                  <span class="heart" *ngIf="!product.is_favorite" (click)="addFav(product)"><ion-icon name="heart-outline"></ion-icon> </span>

          </ion-col>
      </ion-row>
    </ion-grid>



      <ion-infinite-scroll *ngIf="load" (ionInfinite)="loadMoreProducts($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
      
</div>

      <ion-list *ngIf="showProductNotfound">
          <p class="productsNotfound-p"> لا توجد منتجات </p>
      </ion-list>

</ion-content>
